@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>squarewidget.com</h1>
    <p class="lead">SignalR 2.0 with ASP.NET MVC 5 and Web API Demo</p>
    <p>
        To run demo hit F5 to compile and run. Go to sender web page. Open up a few other browser
        instances and point them to the receiver web page. Then send a widget and watch it appear
        on the receiver pages.
    </p>
</div>